<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <style>
    img {max-width: 300px; max-height: 300px;}
    </style>
</head>
<body>
    <h1>{{title}}</h1>
    <table>
        {{#each results}}
            <tr>
            {{#each this}}
                <td><img src="../images/{{source}}/{{id}}.jpg"/></td>
            {{/each}}
            </tr>
        {{/each}}
    </table>
</body>
</html>